<ul class="breadcrumb panel-breadcrumb">
    <li>
        <a ui-sref="DataAdmin.home">
            <i class="fa fa-home"></i></a>
    </li>
    <li>{{$root.currentDatabase.name}}</li>
    <li>Template</li>
    <li class="breadcrumb-active">Import / Export</li>
</ul>
<div class="page-header">
    <h2>Import/Export</h2>
</div>
<div class="wrapper ng-scope" ng-app="openEmis">
    <div class="panel">
        <div class="panel-body">

            <h6 class="section-header">Import</h6>
            <div class="form-horizontal">
                <h6>Indicator Classifications and IUS</h6>
                <p>
                    This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
                    Sed non mauris vitae erat consequat auctor eu in elit.
                </p>
                <ng-file-uploader accept-ext="'.xls,.xlsx'" file-data="generateFileDataIcIus" on-upload-start="hideIUSLog" on-file-success="onFileSuccess" on-file-fail="onFileFail" loading-msg="'Importing Data.'" button-text="'Import'">
                </ng-file-uploader>
                <div class="download-import-log">
                    <div ng-if="showIusImportLog == true">
                        <a href="{{iusImportLog}}">Click here to download the import log.</a>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <h6>Geographic Areas</h6>
                <p>
                    This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
                    Sed non mauris vitae erat consequat auctor eu in elit.
                </p>
                <ng-file-uploader accept-ext="'.xls,.xlsx'" file-data="generateFileDataArea" on-upload-start="hideAreaLog" on-file-success="onFileSuccess" on-file-fail="onFileFail" loading-msg="'Importing Data.'" button-text="'Import'">
                </ng-file-uploader>
                <div class="download-import-log">
                    <div ng-if="showAreaImportLog == true">
                        <a href="{{areaImportLog}}">Click here to download the import log.</a>
                    </div>
                </div>
            </div>

            <h6 class="section-header">Export</h6>
            <div class="form-horizontal">
                <h6>Indicator Classifications and IUS</h6>
                <p>
                    This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
                    Sed non mauris vitae erat consequat auctor eu in elit.
                </p>
                <a class="btn btn-default" href="{{exportUrl('ICIUS')}}" target="_blank"><i class="kd-download"></i> Export </a>
            </div>
            <div class="form-horizontal">
                <h6>Geographic Areas</h6>
                <p>
                    This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
                    Sed non mauris vitae erat consequat auctor eu in elit.
                </p>
                <a class="btn btn-default" href="{{exportUrl('Area')}}" target="_blank"><i class="kd-download"></i> Export </a>
            </div>
        </div>
    </div>
</div>