/**********************************Responsive css***********************/
@media screen and (max-width: 1600px) {
    .connection {
        width: 42%;
    }

    .database .lft {
        width: 20%;
    }

    .database .rgt .add-user {
        width: 35%;
    }

    .ius-validation .form-elem {
        width: 40%;
    }

    .set-password {
        width: 20%;
    }

    .settings {
        width: 40%;
    }
}

@media screen and (max-width: 1440px) {
    .connection {
        width: 50%;
    }

    .database .lft {
        width: 20%;
    }

    .database .rgt .add-user {
        width: 40%;
    }

    .ius-validation .form-elem {
        width: 45%;
    }

    .set-password {
        width: 25%;
    }

    .settings {
        width: 45%;
    }
}

@media screen and (max-width: 1366px) {
    .connection {
        width: 52%;
    }

    .database .lft {
        width: 20%;
    }

    .database .rgt .add-user {
        width: 45%;
    }

    .ius-validation .form-elem {
        width: 50%;
    }

    .set-password {
        width: 25%;
    }

    .settings {
        width: 50%;
    }
}

@media screen and (max-width: 1280px) {
    .connection {
        width: 60%;
    }

    .database .lft {
        width: 20%;
    }

    .database .rgt .add-user {
        width: 50%;
    }

    .ius-validation .form-elem {
        width: 55%;
    }

    .set-password {
        width: 30%;
    }

    .settings {
        width: 55%;
    }
}

@media screen and (max-width: 1152px) {
    .connection {
        width: 66%;
    }

    .database .lft {
        width: 20%;
    }

    .database .rgt .add-user {
        width: 58%;
    }

    .ius-validation .form-elem {
        width: 60%;
    }

    .import-export .upload input {
        width: 65%;
    }

    .import-export .export .upload .btn {
        margin-left: 66%;
    }

    .import-export .upload a {
        width: 30%;
    }

    .set-password {
        width: 40%;
    }

    .settings {
        width: 60%;
    }
}

@media screen and (max-width: 1024px) {
    .connection {
        width: 70%;
    }

    .database .lft {
        width: 20%;
    }

    .database .rgt .add-user {
        width: 60%;
    }

    .ius-validation .form-elem {
        width: 65%;
    }

    .import-export .upload input {
        width: 65%;
    }

    .import-export .export .upload .btn {
        margin-left: 66%;
    }

    .import-export .upload a {
        width: 30%;
    }

    .set-password {
        width: 40%;
    }

    .visible {
        width: 24%!important;
    }

    .database .rgt {
        width: 76%;
    }

    .settings {
        width: 65%;
    }
}

@media screen and (max-width: 960px) {
    .connection {
        width: 76%;
    }

    .database .lft {
        width: 20%;
    }

    .database .rgt .add-user {
        width: 65%;
    }

    .ius-validation .form-elem {
        width: 70%;
    }

    .import-export .upload input {
        width: 65%;
    }

    .import-export .export .upload .btn {
        margin-left: 66%;
    }

    .import-export .upload a {
        width: 30%;
    }

    .set-password {
        width: 40%;
    }

    .settings {
        width: 70%;
    }
}
