<ul class="breadcrumb panel-breadcrumb">
    <li>
        <a ui-sref="DataAdmin.home">
            <i class="fa fa-home"></i></a>
    </li>
    <li>{{$root.currentDatabase.name}}</li>
    <li>Template</li>
    <li><a ui-sref="DataAdmin.home.templateIUS">IUS</a></li>
    <li class="breadcrumb-active">Validations</li>
</ul>

<div class="page-header">
    <h2>IUS</h2>
    <div class="toolbar">
        <a ui-sref="DataAdmin.home.templateIUS" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Back"><i class="fa kd-back"></i></a>
    </div>
</div>

<div class="wrapper ng-scope">
    <div class="panel">
        <div class="panel-body">
            <h6 class="section-header" ng-show="iusDetails.iName">{{iusDetails.iName + ', ' + iusDetails.uName + ' - ' + iusDetails.sName}}</h6>
            <center>
                <form class="form-horizontal">

                    <div class="table-full-width">
                        <div class="table-in-view col-md-4 table-responsive">
                            <table class="table table-striped table-hover table-bordered table-checkable table-input">
                                <thead>
                                <tr>
                                    <th>
                                            Validation
                                    </th>
                                    <th>
                                            Value
                                    </th>
                                </tr>
					            </thead>
                                <tbody>
                                <tr>
                                    <td>
                                            Is Textual
                                    </td>
                                    <td class="checkbox-column">
                                        <div class="icheck-input">
                                            <input type="checkbox" class="icheck-input" ng-disabled="(iusDetails.minimumValue != undefined && (iusDetails.minimumValue + '') != '') || (iusDetails.maximumValue != undefined && (iusDetails.maximumValue + '') != '')" ng-model="iusDetails.isTextual">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                            Minimum Value
                                    </td>
                                    <td>
                                        <input type="text" ng-disabled="iusDetails.isTextual" ng-model="iusDetails.minimumValue">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                            Maximum Value
                                    </td>
                                    <td>
                                        <input type="text" ng-disabled="iusDetails.isTextual" ng-model="iusDetails.maximumValue">
                                    </td>
                                </tr>
				                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-buttons" ng-show="!applyOnOthers">
                        <div class="button-label"></div>
                        <a class="btn btn-default btn-save" type="submit" ng-click="save()"><i class="fa fa-check"></i> Save</a>
                        <a class="btn btn-outline btn-cancel" ng-click="cancel()"><i class="fa fa-close"></i> Cancel</a>
                        <a class="btn btn-outline btn-cancel" ng-show="!applyOnOthers" ng-click="saveAndApplyOnOthers()">Save and Apply to others</a>
                    </div>
                </form>
            </center>

            <div style="width: 100%;" ng-show="applyOnOthers">
                <hr style="width: 100%;">
                <ng-tree-view class="tree-view" ng-model="selectedIUS" tree-list-model="iuList" tree-view-options="treeViewOptions" search-text="searchIndicator">
                </ng-tree-view>
                <div class="form-buttons">
                    <div class="button-label"></div>
                    <a class="btn btn-default btn-save" type="submit" ng-click="save()"><i class="fa fa-check"></i> Save</a>
                    <a class="btn btn-outline btn-cancel" ng-click="cancel()"><i class="fa fa-close"></i> Cancel</a>
                </div>
            </div>


        </div>
    </div>
</div>
    <!--<div class="ius-validation mt20">
                        <div class="ius mt10" ng-show="applyOnOthers">
                            <div class="action-search mb10">
                                <div class="search">
                                    <div class="search-box">
                                        <input type="text" placeholder="Search" ng-model="searchIndicator">
                                        <div class="serch-icn"><i class="fa fa-search"></i></div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="ius-list">
                                <div ng-show="applyOnOthersLoader" class="ius-list-loader">
                                    <i class="fa fa-spinner fa-spin"></i>
                                </div>
                                <ng-tree-view class="customTreeView" ng-model="selectedIUS" tree-list-model="iuList" tree-view-options="treeViewOptions" search-text="searchIndicator">
                                </ng-tree-view>
                            </div>
                        </div>
                        <div class="form-elem mt20">
                            <div class="form-action mt10">
                                <button class="save" ng-click="save()"><i class="fa fa-save"></i> Save</button>
                                <button class="cancel" ng-click="cancel()">Cancel</button>
                            </div>
                            <div class="btnbox mt20 mb20" ng-show="!applyOnOthers">
                                <a class="btn btn-green btn-lg" ng-click="saveAndApplyOnOthers()"><i class="fa fa-save"></i> Save and Apply on other IUS Combinations</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>-->