<ul class="breadcrumb panel-breadcrumb">
    <li>
        <a ui-sref="DataAdmin.home">
            <i class="fa fa-home"></i></a>
    </li>
    <li>{{$root.currentDatabase.name}}</li>
    <li>Data Entry</li>
    <li class="breadcrumb-active">Enter Data</li>
</ul>
<div class="page-header">
    <h2>Data</h2>
</div>
<div class="wrapper ng-scope">
    <div class="panel">
        <div class="panel-body">
            <div id="advanced-search" class="advanced-search-wrapper alert search-box">
                <form class="form-horizontal">
                    <div class="input text">
                        <label class="form-label">Area:</label>
                        <div class="treeview-dropdown">
                            <input type="text">
                            <span class="dropdownLink">
                                <i class="fa fa-chevron-circle-down"></i>
                            </span>
                        </div>
                        <!--<input type="text" id="" maxlength="150" ng-model="search.email">-->
                    </div>
                    <div class="input text">
                        <label class="form-label">Indicator:</label>
                        <div class="treeview-dropdown">
                            <input type="text">
                            <span class="dropdownLink">
                                <i class="fa fa-chevron-circle-down"></i>
                            </span>
                        </div>
                    </div>
                    <div class="input text">
                        <label class="form-label">Time Period:</label>
                        <div class="treeview-dropdown">
                            <input type="text">
                            <span class="dropdownLink">
                                <i class="fa fa-chevron-circle-down"></i>
                            </span>
                        </div>
                    </div>
                </form>
                <button class="btn btn-default btn-xs" type="reset" ng-click="">Search</button>
                <a class="btn btn-default btn-xs" type="reset" ng-click="resetAdvSearch()">Reset</a>
            </div>
        </div>
    </div>
</div>



    <!--<div class="data-entry">
            <div class="title mb10">
                <h2>Data Entry <i class="fa fa-angle-double-right"></i> Enter Data</h2>
            </div>
            <div class="clear"></div>
            <section>
                <ul class="options-list">
                    <li>
                        <ul class="select-options mt20 mb20">
                            <li class="select-area">
                                <label>*Select Area</label>
                                <div class="search-box">
                                    <input type="text" placeholder="Select Area">
                                    <div class="search-icon">
                                        <span><i class="fa fa-search"></i></span>
                                        <span class="arrow-down"><i class="fa fa-chevron-circle-down"></i></span>
                                    </div>
                                    <div class="drop-down-tree"></div>
                                </div>
                            </li>
                            <li class="select-indicator">
                                <label>*Select Indicator</label>
                                <div class="search-box">
                                    <input type="text" placeholder="Select Indicator">
                                    <div class="search-icon">
                                        <span><i class="fa fa-search"></i></span>
                                        <span class="arrow-down"><i class="fa fa-chevron-circle-down"></i></span>
                                    </div>
                                </div>
                            </li>
                            <li class="select-time edit-option">
                                <label>*Select Time Period</label>
                                <div class="search-box">
                                    <input type="text" placeholder="Select Time Period">
                                    <div class="search-icon">
                                        <span><i class="fa fa-search"></i></span>
                                        <span class="arrow-down"><i class="fa fa-chevron-circle-down"></i></span>
                                    </div>
                                </div>
                                <span class="edit-me"><i class="fa fa-pencil"></i></span>
                            </li>
                            <li class="action">
                                <a class="btn btn-grey btn-sm"> <i class="fa fa-search"></i> Search </a>
                                <a class="btn btn-grey btn-sm"> <i class="fa fa-refresh"></i> Reset </a>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </li>
                    <div class="clear"></div>
                </ul>
                <div class="clear"></div>
            </section>
            <div class="clear"></div>
            <div class="separator mt20 mb20"></div>
    
            <div ng-repeat="data in searchData">
                <section class="mb20">
                    <div class="title">
                        <h5>{{data.iName + ', ' + data.uName}}</h5>
                    </div>
                    <ul>
                        <li>
                            <ul>
                                <li></li>
                                <li>Data Value</li>
                                <li>Source</li>
                                <li>Footnote</li>
                            </ul>
                        </li>
                        <li ng-repeat="subgroup in data.subgrps">
                            <ul>
                                <li>{{subgroup.sName}}</li>
                                <li>
                                    <input type="text" ng-model="subgroup.dv">
                                </li>
                                <li>
                                    <div class="edit-option">
                                        <div class="search-box edit-option">
                                            <input type="text">
                                            <div class="search-icon">
                                                <span class="arrow-down"><i class="fa fa-chevron-circle-down"></i></span>
                                            </div>
                                        </div>
                                        <span class="edit-me"><i class="fa fa-pencil"></i></span>
                                    </div>
                                </li>
                                <li>
                                    <input type="text" ng-model="subgroup.footnote">
                                </li>
                            </ul>
                        </li>
                    </ul>
                </section>
                <div class="clear"></div>
                <div class="clear"></div>
            </div>
    
            <section class="action-box">
                <div class="form-action">
                    <button class="btn save"><i class="fa fa-save"></i> Save</button>
                </div>
            </section>
        </div>-->