<section class="main">
    <div class="scroll">
        <!--Section starts Here -->
        <section class="container">
            <!--workspace start here -->
            <section class="db-list">
                <h2>My Databases</h2>
                <div class="btn-box">
                    <a href="#connection" class="btn btn-green btn-lg"><i class="fa fa-plus-circle"></i> Add New Database </a>
                </div>
                <div class="list">
                    <ul>
                        <li><div class="db-name">
                                <a href="#database"><i class="fa fa-database"></i>Assam Tea Garden</a>
                            </div>
                            <div class="db-option">
                                <ul>
                                    <li><a href="javascript:void(0);">Delete </a></li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </section>
            <!--workspace ends here -->
        </section>
        <!--Section ends Here -->
    </div>
</section>