<section class="main">
    <div class="scroll">
        <div class="database">
            <div class="db-title">Assam tea Garden</div>
            <div class="lft">
                <div class="lft-menu">
                    <ul>
                        <li><a><i class="fa fa-th-large"></i><span> Template</span><span class="fa arrow"></span></a>
                            <ul class="sub-menu">
                                <li><a><i class="fa fa-folder"></i><span> Indicators</span><span class="fa arrow"></span></a></li>
                                <li><a><i class="fa fa-folder"></i><span> Units</span><span class="fa arrow"></span></a></li>
                                <li><a><i class="fa fa-folder"></i><span> Subgroups</span><span class="fa arrow"></span></a></li>
                                <li><a><i class="fa fa-folder"></i><span> IUS</span><span class="fa arrow"></span></a></li>
                                <li><a><i class="fa fa-folder"></i><span> Indicator Classifications</span><span class="fa arrow"></span></a></li>
                                <li><a><i class="fa fa-folder"></i><span> Geographic Areas</span><span class="fa arrow"></span></a></li>
                                <li><a href="#importexport"><i class="fa fa-folder"></i><span> Import/Export Using Excel</span><span class="fa arrow"></span></a></li>
                            </ul>
                        </li>
                        <li><a><i class="fa fa-th-large"></i><span> Data Entry</span><span class="fa arrow"></span></a>
                            <ul class="sub-menu">
                                <li><a><i class="fa fa-folder"></i><span> Enter Data</span><span class="fa arrow"></span></a></li>
                                <li><a><i class="fa fa-folder"></i><span> Import/Export Using Excel</span><span class="fa arrow"></span></a></li>
                            </ul>
                        </li>
                        <li><a><i class="fa fa-th-large"></i><span> Publish</span><span class="fa arrow"></span></a>
                            <ul class="sub-menu">
                                <li><a><i class="fa fa-folder"></i><span> Publish Data</span><span class="fa arrow"></span></a></li>
                            </ul>
                        </li>
                        <li><a><i class="fa fa-th-large"></i><span> Database</span><span class="fa arrow"></span></a>
                            <ul class="sub-menu">
                                <li><a href="#connection"><i class="fa fa-folder"></i><span> Connections Details</span><span class="fa arrow"></span></a></li>
                                <li><a href="#usermanagement"><i class="fa fa-folder"></i><span> User Management</span><span class="fa arrow"></span></a></li>
                                <li><a href="#"><i class="fa fa-folder"></i><span> Transaction Logs</span><span class="fa arrow"></span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="rgt">
                <div class="manage-user">
                    <div class="title mb20">
                        <h2>User Management</h2>
                    </div>
                    <div class="action-search mb10">
                        <div class="action">
                            <ul>
                                <li><a href="#adduser"><i class="fa fa-plus-circle"></i> New User</a></li>
                                <li><a><i class="fa fa-trash-o"></i> Delete Selected User</a></li>
                            </ul>
                        </div>
                        <div class="search">
                            <div class="search-type">
                                <select>
                                    <option>Name</option>
                                    <option>Role</option>
                                    <option>Email</option>
                                </select>
                            </div>
                            <div class="search-box">
                                <input type="text" placeholder="Search User">
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="user-list">
                        <ul class="head">
                            <li><input type="checkbox"></li>
                            <li>Name</li>
                            <li>Email</li>
                            <li>Role</li>
                            <li>Access</li>
                            <li>Last Logged In</li>
                            <li>Action</li>
                        </ul>
                        <ul class="list">
                            <li>
                                <ul>
                                    <li><input type="checkbox"></li>
                                    <li>Ved Prakash</li>
                                    <li>ved.prakash@gmail.com</li>
                                    <li>Admin</li>
                                    <li>Area: All; Indicator:All</li>
                                    <li>10-July-2015 </li>
                                    <li><a>Modify</a> | <a>Delete</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li><input type="checkbox"></li>
                                    <li>Ved Prakash</li>
                                    <li>ved.prakash@gmail.com</li>
                                    <li>Admin</li>
                                    <li>Area: All; Indicator:All</li>
                                    <li>10-July-2015 </li>
                                    <li><a>Modify</a> | <a>Delete</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li><input type="checkbox"></li>
                                    <li>Ved Prakash</li>
                                    <li>ved.prakash@gmail.com</li>
                                    <li>Admin</li>
                                    <li>Area: All; Indicator:All</li>
                                    <li>10-July-2015 </li>
                                    <li><a>Modify</a> | <a>Delete</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li><input type="checkbox"></li>
                                    <li>Ved Prakash</li>
                                    <li>ved.prakash@gmail.com</li>
                                    <li>Admin</li>
                                    <li>Area: All; Indicator:All</li>
                                    <li>10-July-2015 </li>
                                    <li><a>Modify</a> | <a>Delete</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li><input type="checkbox"></li>
                                    <li>Ved Prakash</li>
                                    <li>ved.prakash@gmail.com</li>
                                    <li>Admin</li>
                                    <li>Area: All; Indicator:All</li>
                                    <li>10-July-2015 </li>
                                    <li><a>Modify</a> | <a>Delete</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li><input type="checkbox"></li>
                                    <li>Ved Prakash</li>
                                    <li>ved.prakash@gmail.com</li>
                                    <li>Admin</li>
                                    <li>Area: All; Indicator:All</li>
                                    <li>10-July-2015 </li>
                                    <li><a>Modify</a> | <a>Delete</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li><input type="checkbox"></li>
                                    <li>Ved Prakash</li>
                                    <li>ved.prakash@gmail.com</li>
                                    <li>Admin</li>
                                    <li>Area: All; Indicator:All</li>
                                    <li>10-July-2015 </li>
                                    <li><a>Modify</a> | <a>Delete</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li><input type="checkbox"></li>
                                    <li>Ved Prakash</li>
                                    <li>ved.prakash@gmail.com</li>
                                    <li>Admin</li>
                                    <li>Area: All; Indicator:All</li>
                                    <li>10-July-2015 </li>
                                    <li><a>Modify</a> | <a>Delete</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li><input type="checkbox"></li>
                                    <li>Ved Prakash</li>
                                    <li>ved.prakash@gmail.com</li>
                                    <li>Admin</li>
                                    <li>Area: All; Indicator:All</li>
                                    <li>10-July-2015 </li>
                                    <li><a>Modify</a> | <a>Delete</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li><input type="checkbox"></li>
                                    <li>Ved Prakash</li>
                                    <li>ved.prakash@gmail.com</li>
                                    <li>Admin</li>
                                    <li>Area: All; Indicator:All</li>
                                    <li>10-July-2015 </li>
                                    <li><a>Modify</a> | <a>Delete</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li><input type="checkbox"></li>
                                    <li>Ved Prakash</li>
                                    <li>ved.prakash@gmail.com</li>
                                    <li>Admin</li>
                                    <li>Area: All; Indicator:All</li>
                                    <li>10-July-2015 </li>
                                    <li><a>Modify</a> | <a>Delete</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
</section>