<nav class="navbar navbar-fixed-top">
    <div id="menu-toggle">
        <a class="btn toggle-btn"><i class="fa fa-reorder"></i></a>
    </div>
    <div class="navbar-left">
        <span class="brand-logo">
            <i class="kd-openemis ltl-view"></i>
            <h1>DFA Data Admin</h1>
            <!--<i class="kd-openemis rtl-view"></i>-->
        </span>
    </div>
    <div class="navbar-right">

        <div class="header-navigation">

            <div class="username">
                <span>{{currentUser.name}}</span>
                <a class="btn" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="User Role: Principal"><i class="kd-role"></i></a>
            </div>

            <div class="btn-group">
                <a class="btn" ui-sref="DataAdmin.home">
                    <i class="fa fa-home"></i>
                </a>
            </div>

            <!--?php echo $this->element('Localization.languages') ?-->
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa kd-grid"></i>
                </a>

                <div aria-labelledby="dropdownMenu" role="menu" class="dropdown-menu product-lists col-xs-12">
                    <div class="dropdown-arrow">
                        <i class="fa fa-caret-up"></i>
                    </div>

                    <div class="product-wrapper">
                                                    <!--<div class="product-menu col-xs-4">
                                                        <a href="/styleguide/Users?theme=dashboard"><i class="kd-openemis kd-dashboard"></i><span>Dashboard</span></a>
                                                    </div>
                                                    <div class="product-menu col-xs-4">
                                                        <a href="/styleguide/Users?theme=survey"><i class="kd-openemis kd-survey"></i><span>Survey</span></a>
                                                    </div>
                                                    <div class="product-menu col-xs-4">
                                                        <a href="/styleguide/Users?theme=logistics"><i class="kd-openemis kd-logistics"></i><span>Logistics</span></a>
                                                    </div>
                                                    <div class="product-menu col-xs-4">
                                                        <a href="/styleguide/Users?theme=integrator"><i class="kd-openemis kd-integrator"></i><span>Integrator</span></a>
                                                    </div>
                                                    <div class="product-menu col-xs-4">
                                                        <a href="/styleguide/Users?theme=insight"><i class="kd-openemis kd-insight"></i><span>Insight</span></a>
                                                    </div>
                                                    <div class="product-menu col-xs-4">
                                                        <a href="/styleguide/Users?theme=school"><i class="kd-openemis kd-school"></i><span>School</span></a>
                                                    </div>
                                                    <div class="product-menu col-xs-4">
                                                        <a href="/styleguide/Users?theme=core"><i class="kd-openemis kd-core"></i><span>Core</span></a>
                                                    </div>
                                                    <div class="product-menu col-xs-4">
                                                        <a href="/styleguide/Users?theme=monitoring"><i class="kd-openemis kd-monitoring"></i><span>Monitoring</span></a>
                                                    </div>
                                                    <div class="product-menu col-xs-4">
                                                        <a href="/styleguide/Users?theme=visualizer"><i class="kd-openemis kd-visualizer"></i><span>Visualizer</span></a>
                                                    </div>
                                                    <div class="product-menu col-xs-4">
                                                        <a href="/styleguide/Users?theme=purple"><i class="kd-openemis kd-purple"></i><span>Purple</span></a>
                                                    </div>-->
                    </div>
                </div>
            </div>

            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa kd-ellipsis"></i>
                </button>

                <ul aria-labelledby="dropdownMenu" role="menu" class="dropdown-menu more-menu">
                    <div class="dropdown-arrow"><i class="fa fa-caret-up"></i></div>
                    <div class="more-menu-item">
                    <li><a href="javascript:void(0)"><i class="fa fa-info-circle"></i><span> About</span></a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-cog"></i><span> Preferences</span></a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:void(0)" ng-click="logout()"><i class="fa fa-power-off"></i><span> Logout</span></a></li>
            </div>
		</ul>
        </div>
    </div>
		</div>
</nav>