<div class="login body-wrapper">
    <div class="login-box">
        <div class="title">
            <span class="title-wrapper">
                <i class="kd-openemis ltl-view"></i>
                <h1>DFA Data Admin</h1>
                <i class="kd-openemis rtl-view"></i>
            </span>
        </div>
        <div class="alert alert-danger" ng-if="loginFailed == true">
            <a class="close" ng-click="closeLoginFailedAlert()">×</a>
            You have entered an invalid username or password.
        </div>
        <form method="post" accept-charset="utf-8" class="form-horizontal" ng-submit="login(credentials)">
            <div style="display:none;">
                <input type="hidden" name="_method" value="POST">
            </div>
            <div class="input text">
                <input type="text" name="username" placeholder="Username" id="username" ng-model="credentials.email">
            </div>
            <div class="input password">
                <input type="password" name="password" placeholder="Password" id="password" ng-model="credentials.password"> 
            </div>
            <div class="form-group">
                <button type="submit" name="submit" value="login" class="btn btn-primary btn-login">Login</button>				<button class="hidden" value="reload" name="submit" type="submit" id="reload">reload</button>
            </div>
        </form>
    </div>
</div>