.tree-view {
    padding-top: 10px;
}

.tree-view input {
    margin: 0px;
}

.tree-view ul {
    margin: 0;
    padding: 0;
}

.tree-view ul li {
    list-style: none;
    cursor: pointer;
    color: #555;
    padding-left: 20px;
}

.tree-view ul li .list-header:hover {
    background: #ccc;
}

.tree-view ul li .list-header {
    padding: 10px 10px;
    border-bottom: 1px solid #ccc;
}

.tree-view label {
    cursor: pointer;
    padding: 10px 5px;
    word-break: break-word;
    word-wrap: break-word;
    font-weight: normal;
    display: inline;
}

.tree-view label .nodeText {
    padding-left: 5px;
    word-wrap: break-word;
}

.tree-view ul li .control-box {
    min-width: 15px;
    min-height: 15px;
}

.tree-view .list-header.nodeSelected {
    background: #993366;
    color: #FFF;
}

.tree-view .list-header.nodeSelected:hover {
    background: #993366;
}